<section id="wrap">
  <% if session[:user_id] == @user.id %>
   <%= render partial: "/users/item1", locals: {user_items: @user.items} %>
  <% else %>
   <%= render partial: "/users/item2", locals: {user_items: @user.items} %>
  <% end %>
</section>
