/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Sacramento|Leckerli+One|Dosis:400,600|Poppins:400,600);


@media (min-width: 768px) {
  .row { margin-right: 0; margin-left: 0; }
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

///// NAVIGATION BAR /////
.navbar {
	margin-bottom: 0;
	padding-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar-brand {
  font-family: 'Leckerli One', cursive;
  font-size: 20pt;
}

.navbar-header .navbar-brand, .navbar-header .navbar-brand:hover {
	color: #FFEBEE;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FF4081;
  background-color: #FFEBEE;
}

.navbar-default {
  background-color:#FF4081;
}

Sets dropdown text color and background on hover
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #FFEBEE;
  text-decoration: none;
  background-color: #FF4081;
}

.navbar-default .navbar-nav > li > a {
  color: #FFEBEE; /* Change active text color. */
}

///// FOOTER & MAIN PAGE WRAPPER /////
#wrap {   /* Apply wrap to flush footer to bottom of page. */
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:50px; /* Should be larger than footer height. */
}

#footer {
  position: relative;
  margin-top: -50px; /* Negative value of footer height. */
  height: 50px;
  clear:both;
  padding-top:15px;
  background-color: #FF4081; //#FF80AB;
  color: #FFEBEE;
}

#footer p {
  font-size: 11pt;
}

 ///// BASIC STYLES /////
.left {
	text-align: left;
}

.center {
  text-align: center;
}

.right {
	text-align: right;
}

.justify {
  text-align: justify;
}

.emphasis {
  font-size: 13pt;
  font-weight: bold;
}

///// BUTTON STYLES /////
.btn {
	width: 200px;
  height: 50px;
}

.btn-primary {
	font-size: 20px;
	margin: auto;
	text-align: center;
	border-radius: 0px;
	box-shadow: 1px 1px 1px #FF4081;
	border:0.1em solid #FF4081;
	background-color: #FF4081;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
	background-color: #FFFFFF;
	border-color: #FF4081;
	border:0.1em solid #FF4081;
	box-shadow: none;
	outline: none;
	color: #FF4081;
}

///// FORM BUTTONS /////
.actions {
  display: inline-block;
}

.submit {
  background-color: #FF4081;
  height: 50px;
}

.btn-form {
  font-size: 20px;
	margin: auto;
	text-align: center;
	border-radius: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
  color: #FFEBEE;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: 0px;
}

.btn-form:hover, .btn-form:active, .btn-form:focus  {
  text-decoration: none;
  color: #84FFFF;
}

///// ICONS /////
.entry-icons img, .items-nved img {
width: 30px;
height: 30px;
}
