/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 @import "bootstrap-sprockets";
 @import "bootstrap";

 @media (min-width: 768px) {
  .row { margin-right: 0; margin-left: 0; }
}

html, body {
  height: 100%;
}

///// navigation bar /////
  .navbar {
  	margin-bottom: 0;
  	padding-bottom: 0;
  }

///// fFOOTER & MAIN PAGE WRAPPER /////
  #wrap {   /* Apply wrap to flush footer to bottom of page */

    min-height: 100%;
  }

  #main {
    overflow:auto;
    padding-bottom:150px; /* Should be larger than footer height */
  }

  .footer {
    position: relative;
    margin-top: -150px; /* Negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  }

 ///// BASIC STYLES /////
  .left {
  	text-align: left;
  }

  .center {
  	text-align: center;
  }

  .right {
  	text-align: right;
  }

///// BUTTON STYLES /////

.btn {
	width: 200px;
}

.btn-primary {
	font-size: 20px;
	margin: auto;
	text-align: center;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #9E9E9E;
	border:0.1em solid #ff4056;
	background-color: #ff4056;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
  color: #ffffff;
}

.btn-primary:hover {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
  color: #ff4056;

}

.btn-primary:active {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
}


.btn-primary:focus {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
	outline: none;
	color: #ff4056;
}

.btn-primary.active {
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
	outline: none;
	color: #ff4056;
}
//
// .btn-primary:active:focus {
// 	background-color: #ffffff;
// 	border-color: #ff4056;
// 	border:0.1em solid #ff4056;
// 	box-shadow: none;
// 	outline: none;
// 	color: #ff4056;
// }

.btn-primary.active:focus{
	background-color: #ffffff;
	border-color: #ff4056;
	border:0.1em solid #ff4056;
	box-shadow: none;
	outline: none;
	color: #ff4056;
}
//
// .btn-primary:active:focus{
// 	background-color: #ffffff;
// 	border-color: #ff4056;
// 	border:0.1em solid #ff4056;
// 	box-shadow: none;
// 	outline: none;
// 	color: #ff4056;
// }
