// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  background-color: #FFFFFF;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 30%;
  margin-left: 38%;
  margin-right: 40%;
  border: 4px solid #FF4081;
}

.h1-form {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 30%;
  margin-left: 38%;
  margin-right: 40%;
  color: #FF4081;
  font-family: 'Leckerli One', cursive;
  // border-bottom: 4px solid #FF4081;
  font-size: 42pt;
}

.form-field {
  border-bottom: 1px solid #FF4081;
  color: #FF4081;
  outline: none;
  border-right: none !important;
  border-top: none !important;
  border-left: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.form-label {
  font-size: 12pt;
  font-weight: bolder;
}


section {
  color: #FF4081;
}

th {
  font-size: 12pt;
  text-align: center;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 2px solid #FF4081;
}

.table-row {
  border-bottom: 3px solid #FF4081;
}


.user-table > thead > tr > th, .user-table > thead > tr > td, .user-table > tbody > tr > th, .user-table > tbody > tr > td, .user-table > tfoot > tr > th, .user-table > tfoot > tr > td {
  border: none;
  font-size: 14pt;
  text-align: center;
}

.user-table-row {
  // border-bottom: 3px solid #FF4081;
  font-size: 16pt;
}


.list-view {
  margin-top: 3%;
}

.list-actions {
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 16pt;
  color: #FF4081;
}

.list-h1 {
  color: #FF4081;
  font-size: 32pt;
  font-family: 'Leckerli One', cursive;
  text-shadow: 3px 3px #B2EBF2;
}

.search-field {
  padding-top: 5px;
  color: #FF4081;
  border:0.1em solid #FF4081;
  font-size: 13pt;
}

.search-field:active, .search-field:hover, .search-field:focus {
  color: #FF4081;
  outline: none;
}

.home, .home:hover, .home:active, .home:focus {
  color: #FF4081;
  text-decoration: none;
}

.summary {
  margin-top: 2%;
  background-color: #FF4081;
  color: #FFFFFF;
  height: 40px;
  padding-top: 10px;
}

.user-links a, .user-links a:hover, .user-links a:active, .user-links a:focus {
  color: #FF4081;;
  text-decoration: none;
}

///// ERROR MESSAGES /////
ul {
  list-style-type: none;
  padding: 0px;
}

#error-explanation {
  padding: 5px;
}
