// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
	background-image: image-url("party-background-dark.jpg");
	background-size: cover;
  width: 100%;
	height: 60vh;
	color: #FFFFFF;
	// font-family: 'Sacramento', cursive;
	// font-family: 'Satisfy', cursive;
	font-family: 'Leckerli One', cursive;
}

.jumbotron h1 {
		font-size: 150pt;
		padding-top: 2%;
}

.tester {
	background-color: black;
	margin: 5%;
}

#catchPhrase h1 {
	text-align: center;
	font-size: 50px;
}

.centered{
	padding-top: 5%;
	text-align: center;
}
