// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
	background-image: image-url("party-background-dark.jpg");
	background-size: cover;
  width: 100%;
	// height: 60vh;
	height: 100%;
	margin-bottom: 0px;
	color: #FFEBEE;
	// font-family: 'Sacramento', cursive;
	font-family: 'Leckerli One', cursive;
}

section {
	height: 100%;
}

.jumbotron h1 {
		font-size: 100pt;
		padding-top: 2%;
		-webkit-text-stroke: 4px #FFCDD2;
}

.jumbotron h3 {
	font-family: 'Poppins', sans-serif;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 98%;
	font-size: 24pt;
	color: #FFEBEE;
	font-weight: bold;
	-webkit-text-stroke: 1px #FFCDD2;
}

.info {
	font-family: 'Poppins', sans-serif;
	margin: 1%;
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: white;
	color: #FF4081;
	background-color: #FFEBEE;
}

.info p {
	padding-top: 10px;
	font-size: 12pt;
}

.divider {
	border-left: 1px solid #FF4081;
}

.btn-navigate {
	margin-bottom: 2%;
}
