<footer id="footer">
  <div class="row">
    <div class="col-xs-12 center ">
      <p class="footer-text">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by Mala Nimalasuriya</p>
      <p class="footer-text"> &copy;2016 </p>
    </div>
  </div>
</footer>
